body {
  padding: 10px;
  font-family: sans-serif;
  background: chocolate;
  color: mintcream;
}

.CakesList {
  list-style: outside;
  list-style-type: "🥄";
  border: 2px solid lime;
  border-radius: 2rem;

  .CakesListItem {
    border-bottom: 2px solid tomato;
    display: flex;

    & > * {
      display: inline-block;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 0.5rem;
    }

    .imageWrapper {
      width: 6rem;
      height: 6rem;
      .image {
        height: 100%;
        width: 100%;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        }
    }

    .name {
      width: 20%;
    }
    .yumIndicator {
      width: 20%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-content: center;
      justify-content: flex-start;
      align-items: center;
      .icon {
        font-size: 3rem;
      }
      .text {
        font-size: 1rem;

      }
    }
    .comment {
      width: 40%;
    }
    .edit {
      width: 5%;
    }
    .delete {
      width: 5%;
    }
  }
}

.iconButton {
  background: peachpuff;
  border-radius: 100rem;
  font-size: 2rem;
  padding: 0.2rem;
  text-align:center;
  cursor: pointer;
}
