body {
  padding: 10px;
  font-family: sans-serif;
  background: chocolate;
  color: mintcream;
}

.CakesList {
  padding: 0 1rem;
  list-style-image: "🥄";
  border: 2px solid lime;
  border-radius: 2rem;
  font-size: 1rem;

  .CakesListItem {
    border-bottom: 2px solid tomato;
    display: flex;
    &:last-child {
      border-bottom: none;
    }
    & > * {
      display: inline-block;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 0.5rem;
    }

    .imageWrapper {
      width: 6rem;
      height: 6rem;
      .image {
        height: 100%;
        width: 100%;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        }
    }

    .name {
      width: 20%;
    }
    .yumIndicator {
      width: 20%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-content: center;
      justify-content: flex-start;
      align-items: center;
      .icon {
        font-size: 3rem;
      }
      .text {
        font-size: 1rem;

      }
    }
    .comment {
      width: 40%;
    }
    .edit {
      width: 5%;
    }
    .delete {
      width: 5%;
    }
  }
}

.iconButton {
  background: peachpuff;
  border-radius: 100rem;
  font-size: 2rem;
  padding: 0.2rem;
  text-align:center;
  cursor: pointer;
  display: inline-block;
}

.popUpContainer {
  position: fixed;
  background:transparent;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;

  .popUp {
    position: relative;
    width: 70%;
    margin: 0 auto;
    height: auto;
    max-height: 70vh;
    margin-top: calc(100vh - 85vh - 20px);
    background: blanchedalmond;
    border-radius: 4px;
    padding: 20px;
    border: 1px solid peachpuff;
    overflow: auto;

    .closeIcon {
      content: 'x';
      cursor: pointer;
      position: fixed;
      color: cornflowerblue;
      right: calc(15% - 30px);
      top: calc(100vh - 85vh - 33px);
      background: blanchedalmond;
      width: 25px;
      height: 25px;
      border-radius: 50%;
      line-height: 20px;
      text-align: center;
      border: 1px solid peachpuff;
      font-size: 20px;
    }
  }
}

.appButtons {
    .iconButton {
      padding: 0.5rem 1rem;
      color: cornflowerblue;
    }
    .floatRight {
      float: right;
    }
}

.CakeForm {
  font-size: 1rem;
  color: olive;
  .panel {
    margin-bottom: 1.5rem;

    label {
      display: block;
      margin-bottom: 0.3rem;
      font-size: 1rem;
    }
    input {
      font-size: 1.6rem;
      width: 100%;
      color: darkolivegreen;
    }
    .name {
    }
    .yumFactor {
    }
    .url {
    }
    .text {
    }
    .comment {
    }
    .failValid {
      color: tomato;
      font-size: 1rem;
      margin: 0.5rem 0;
      font-weight: bold;
    }
  }
  .buttons {
    text-align: right;

    .iconButton {
      font-size: 1.5rem;
      padding: 0.5rem 1rem;
      margin-left: 2rem;
    }
  }
}




::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: peachpuff;
}
::-moz-placeholder { /* Firefox 19+ */
  color: peachpuff;
}
:-ms-input-placeholder { /* IE 10+ */
  color: peachpuff;
}
:-moz-placeholder { /* Firefox 18- */
  color: peachpuff;
}




.color-chocolate {
  color: chocolate;
}
.color-mintcream {
  color: mintcream;
}
.color-lime {
  color: lime;
}
.color-tomato {
  color: tomato;
}
.color-olive {
  color: olive;
}
.color-blanchedalmond {
  color: blanchedalmond;
}
.color-chartreuse {
  color: chartreuse;
}
.color-darksalmon {
  color: darksalmon;
}
.color-lemonchiffon {
  color: lemonchiffon;
}
.color-plum {
  color: plum;
}
.color-orange {
  color: orange;
}
.color-darkolivegreen {
  color: darkolivegreen;
}
.color-lightsalmon {
  color: lightsalmon;
}
.color-papayawhip {
  color: papayawhip;
}
.color-salmon {
  color: salmon;
}
.color-wheat {
  color: wheat;
}
.color-cornflowerblue {
  color: cornflowerblue;
}
.color-limegreen {
  color: limegreen;
}
.color-darkorange {
  color: darkorange;
}
.color-peachpuff {
  color: peachpuff;
}
